
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">正</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="552017"><span class="bet-content">1正</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="552018"><span class="bet-content">2正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="552019"><span class="bet-content">3正</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552020"><span class="bet-content">4正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">角</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="552021"><span class="bet-content">1-2角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552022"><span class="bet-content">2-3角</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="552023"><span class="bet-content">3-4角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552024"><span class="bet-content">1-4角</span> <span class="bet-item">1.982</span></div>
	</div>
	
		<div class="row text-center"><div class="col title-no">念</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="552025"><div class="bet-content">1念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552026"><div class="bet-content">1念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552027"><div class="bet-content">1念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="552028"><div class="bet-content">2念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552029"><div class="bet-content">2念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552030"><div class="bet-content">2念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="552031"><div class="bet-content">3念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552032"><div class="bet-content">3念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552033"><div class="bet-content">3念4</div><div class="bet-item">9.4</div></div>
	</div>
	
		<div class="row">
		<div class="col col-33 bet ok" data-id="552034"><div class="bet-content">4念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552035"><div class="bet-content">4念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="552036"><div class="bet-content">4念3</div><div class="bet-item">9.4</div></div>
	</div>



	<div class="row text-center"><div class="col title">番</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="552037"><span class="bet-content">1番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552038"><span class="bet-content">2番</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="552039"><span class="bet-content">3番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552040"><span class="bet-content">4番</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">单双</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="552041"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="552042"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
</ion-content>