<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第四球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1063301"><div class="bet-content round-1">1</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063302"><div class="bet-content round-1">2</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063303"><div class="bet-content round-1">3</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1063304"><div class="bet-content round-1">4</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063305"><div class="bet-content round-1">5</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063306"><div class="bet-content round-1">6</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1063307"><div class="bet-content round-1">7</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063308"><div class="bet-content round-1">8</div><div class="bet-item">10.8</div></div>
		<div class="col col-33 bet ok" data-id="1063309"><div class="bet-content round-1">9</div><div class="bet-item">10.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063310"><span class="bet-content round-1">10</span> <span class="bet-item">10.8</span></div>
		<div class="col col-50 bet ok" data-id="1063311"><span class="bet-content round-1">11</span> <span class="bet-item">10.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1063314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>