<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">总和、龙虎</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1062701"><span class="bet-content">总和大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1062705"><span class="bet-content">总和小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1062702"><span class="bet-content">总和单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1062706"><span class="bet-content">总和双</span> <span class="bet-item">1.75</span></div>
	</div>
	
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1062703"><span class="bet-content">总和尾大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1062707"><span class="bet-content">总和尾小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1062704"><span class="bet-content">龙</span> <span class="bet-item">1.877</span></div>
		<div class="col col-50 bet ok" data-id="1062708"><span class="bet-content">虎</span> <span class="bet-item">1.877</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063012"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063013"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063014"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063015"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063112"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063113"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063114"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063115"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063212"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063213"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063214"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063215"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1063412"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063413"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1063414"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1063415"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>
