
<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">冠亚和</div></div>
			    				
	<div class="row">
		<div class="col col-50 bet ok" data-id="3501001"><span class="bet-content">冠亚大</span><span class="bet-item">2.2</span></div>
		<div class="col col-50 bet ok" data-id="3501002"><span class="bet-content">冠亚小</span><span class="bet-item">1.77</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="3501003"><span class="bet-content">冠亚单</span> <span class="bet-item">1.77</span></div>
		<div class="col col-50 bet ok" data-id="3501004"><span class="bet-content">冠亚双</span> <span class="bet-item">2.2</span></div>
	</div>

	<div class="row text-center"><div class="col title">冠军</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="3501103"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501101"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501105"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="3501104"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501102"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501106"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">亚军</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="3501203"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501201"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501205"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="3501204"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501202"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="3501206"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第三名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="3501303"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501301"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501305"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="3501304"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501302"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501306"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第四名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="3501403"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501401"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501405"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="3501404"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501402"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501406"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第五名</div></div>
	<div class="row">
		<div class="col col-33 bet" data-id="3501503"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501501"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501505"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet" data-id="3501504"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501502"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet" data-id="3501506"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第六名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="3501603"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501601"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="3501604"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501602"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第七名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="3501703"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501701"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="3501704"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501702"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第八名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="3501803"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501801"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="3501804"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501802"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第九名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="3501903"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501901"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet" data-id="3501904"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3501902"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>

	<div class="row text-center"><div class="col title">第十名</div></div>
	<div class="row">
		<div class="col col-50 bet" data-id="3502003"><div class="bet-content">单</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3502001"><div class="bet-content">大</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet" data-id="3502004"><div class="bet-content">双</div><div class="bet-item">1.982</div></div>
		<div class="col col-50 bet" data-id="3502002"><div class="bet-content">小</div><div class="bet-item">1.982</div></div>
	</div>
</ion-content>