
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">五球总和</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122101"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="122102"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122103"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122104"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122210"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122211"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="122212"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122213"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122310"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122311"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="122312"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122313"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>


	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122410"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122411"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="122412"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122413"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122510"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122511"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="122512"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122513"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="122610"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122611"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="122612"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="122613"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>