<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">点数</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165804"><span class="bet-content">4点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165805"><span class="bet-content">5点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165806"><span class="bet-content">6点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165807"><span class="bet-content">7点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165808"><span class="bet-content">8点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165809"><span class="bet-content">9点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165810"><span class="bet-content">10点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165811"><span class="bet-content">11点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165812"><span class="bet-content">12点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165813"><span class="bet-content">13点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1165814"><span class="bet-content">14点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165815"><span class="bet-content">15点</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1165816"><span class="bet-content">16点</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1165817"><span class="bet-content">17点</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>