
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球VS第二球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102906"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102907"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102908"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第一球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102909"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102910"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102911"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第一球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102912"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102913"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102914"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>


	<div class="row text-center"><div class="col title-no">第一球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102915"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102916"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102917"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102918"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102919"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102920"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102921"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102922"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102923"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102924"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102925"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102926"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102927"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102928"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102929"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102930"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102931"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102932"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第四球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="102933"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102934"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="102935"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>		
	
	
</ion-content>