<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">两面</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138601"><span class="bet-content">特大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138602"><span class="bet-content">特小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138603"><span class="bet-content">特单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138604"><span class="bet-content">特双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138605"><span class="bet-content">特合大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138606"><span class="bet-content">特合小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138607"><span class="bet-content">特合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138608"><span class="bet-content">特合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138615"><span class="bet-content">特天肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138616"><span class="bet-content">特地肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138617"><span class="bet-content">特前肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138618"><span class="bet-content">特后肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138619"><span class="bet-content">特家肖</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138620"><span class="bet-content">特野肖</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138609"><span class="bet-content">特尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138610"><span class="bet-content">特尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138621"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138622"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138623"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138624"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1138611"><span class="bet-content">特大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138612"><span class="bet-content">特大双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1138613"><span class="bet-content">特小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1138614"><span class="bet-content">特小双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>