<ion-content class="bet-view" scroll="false">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs" ng-init="selectFirstSub();">
			<div class="row" ng-init="shareData.subIndex=1">
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1, $event);" data-id="0" play-type="LXLW" min-size="2" max-size="12">二连肖</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2, $event);" data-id="0" play-type="LXLW" min-size="3" max-size="12">三连肖</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==3}">
					<a class="item nav-item" ng-click="selectSubnav(3, $event);" data-id="0" play-type="LXLW" min-size="4" max-size="12">四连肖</a>
				</div>
				
				<div class="col sub-col col-31" ng-class="{navActive:shareData.subIndex==4}">
					<a class="item nav-item" ng-click="selectSubnav(4, $event);" data-id="0" play-type="LXLW" min-size="5" max-size="12">五连肖</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40">
				<div ng-if="shareData.subIndex==1">
					<div class="row text-center"><div class="col title-no">二连肖</div></div>
			
					<div class="row">
						<div class="col sub-bet ok" data-id="1139901">
							<div class="bet-content left pd3">鼠</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鼠'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139902">
							<div class="bet-content left pd3">牛</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='牛'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139903">
							<div class="bet-content left pd3">虎</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='虎'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139904">
							<div class="bet-content left pd3">兔</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='兔'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139905">
							<div class="bet-content left pd3">龙</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='龙'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139906">
							<div class="bet-content left pd3">蛇</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='蛇'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139907">
							<div class="bet-content left pd3">马</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='马'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139908">
							<div class="bet-content left pd3">羊</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='羊'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139909">
							<div class="bet-content left pd3">猴</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猴'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139910">
							<div class="bet-content left pd3">鸡</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鸡'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139911">
							<div class="bet-content left pd3">狗</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='狗'></div>
						</div>
					</div>
					
					<div class="row end">
						<div class="col sub-bet ok" data-id="1139912">
							<div class="bet-content left pd3">猪</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猪'></div>
						</div>
					</div>
				</div>
				
				<div ng-if="shareData.subIndex==2">
					<div class="row text-center"><div class="col title-no">三连肖</div></div>
			
					<div class="row">
						<div class="col sub-bet ok" data-id="1139913">
							<div class="bet-content left pd3">鼠</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鼠'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139914">
							<div class="bet-content left pd3">牛</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='牛'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139915">
							<div class="bet-content left pd3">虎</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='虎'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139916">
							<div class="bet-content left pd3">兔</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='兔'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139917">
							<div class="bet-content left pd3">龙</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='龙'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139918">
							<div class="bet-content left pd3">蛇</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='蛇'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139919">
							<div class="bet-content left pd3">马</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='马'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139920">
							<div class="bet-content left pd3">羊</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='羊'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139921">
							<div class="bet-content left pd3">猴</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猴'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139922">
							<div class="bet-content left pd3">鸡</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鸡'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139923">
							<div class="bet-content left pd3">狗</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='狗'></div>
						</div>
					</div>
					
					<div class="row end">
						<div class="col sub-bet ok" data-id="1139924">
							<div class="bet-content left pd3">猪</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猪'></div>
						</div>
					</div>
				</div>
				
				<div ng-if="shareData.subIndex==3">
					<div class="row text-center"><div class="col title-no">四连肖</div></div>
			
					<div class="row">
						<div class="col sub-bet ok" data-id="1139925">
							<div class="bet-content left pd3">鼠</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鼠'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139926">
							<div class="bet-content left pd3">牛</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='牛'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139927">
							<div class="bet-content left pd3">虎</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='虎'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139928">
							<div class="bet-content left pd3">兔</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='兔'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139929">
							<div class="bet-content left pd3">龙</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='龙'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139930">
							<div class="bet-content left pd3">蛇</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='蛇'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139931">
							<div class="bet-content left pd3">马</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='马'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139932">
							<div class="bet-content left pd3">羊</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='羊'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139933">
							<div class="bet-content left pd3">猴</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猴'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139934">
							<div class="bet-content left pd3">鸡</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鸡'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139935">
							<div class="bet-content left pd3">狗</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='狗'></div>
						</div>
					</div>
					
					<div class="row end">
						<div class="col sub-bet ok" data-id="1139936">
							<div class="bet-content left pd3">猪</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猪'></div>
						</div>
					</div>
				</div>
				
				<div ng-if="shareData.subIndex==4">
					<div class="row text-center"><div class="col title-no">五连肖</div></div>
			
					<div class="row">
						<div class="col sub-bet ok" data-id="1139937">
							<div class="bet-content left pd3">鼠</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鼠'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139938">
							<div class="bet-content left pd3">牛</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='牛'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139939">
							<div class="bet-content left pd3">虎</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='虎'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139940">
							<div class="bet-content left pd3">兔</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='兔'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139941">
							<div class="bet-content left pd3">龙</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='龙'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139942">
							<div class="bet-content left pd3">蛇</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='蛇'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139943">
							<div class="bet-content left pd3">马</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='马'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139944">
							<div class="bet-content left pd3">羊</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='羊'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139945">
							<div class="bet-content left pd3">猴</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猴'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139946">
							<div class="bet-content left pd3">鸡</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='鸡'></div>
						</div>
					</div>
					
					<div class="row">
						<div class="col sub-bet ok" data-id="1139947">
							<div class="bet-content left pd3">狗</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='狗'></div>
						</div>
					</div>
					
					<div class="row end">
						<div class="col sub-bet ok" data-id="1139948">
							<div class="bet-content left pd3">猪</div>
							<div class="bet-item left lh14">2.09</div>
							<div class="right mr10 bet-round" zodiac='猪'></div>
						</div>
					</div>
				</div>
				
				
			</ion-content>
		</div>
	</div>
</ion-content>