<ion-content class="bet-view" scroll="false">
	<div class="sub-Navs" item-class="col-31">
		<ion-scroll id="sub-navs" direction="x" scrollbar-x="false" delegate-handle="sub-navs">
			<div class="row" ng-init="shareData.subIndex=2">
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==2}">
					<a class="item nav-item" ng-click="selectSubnav(2);">特码B</a>
				</div>
				
				<div class="col sub-col col-50" ng-class="{navActive:shareData.subIndex==1}">
					<a class="item nav-item" ng-click="selectSubnav(1);">特码A</a>
				</div>
			</div>
		</ion-scroll>
	
		<div class="nav-content">
			<ion-content class="tp40">
				<div ng-if="shareData.subIndex==1">
					<div class="row text-center"><div class="col title-no">特码A</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138501"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138502"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138503"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138504"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138505"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138506"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138507"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138508"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138509"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138510"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138511"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138512"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138513"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138514"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138515"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138516"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138517"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138518"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138519"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138520"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138521"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138522"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138523"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138524"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138525"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138526"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138527"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138528"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138529"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138530"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138531"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138532"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138533"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138534"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138535"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138536"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138537"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138538"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138539"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138540"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138541"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138542"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138543"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138544"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138545"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138546"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="1138547"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138548"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="1138549"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
			
				<div ng-if="shareData.subIndex==2">
					<div class="row text-center"><div class="col title-no">特码B</div></div>
				
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138550"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138551"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138552"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138553"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138554"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138555"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138556"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138557"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138558"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138559"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138560"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138561"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138562"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138563"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138564"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138565"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138566"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138567"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138568"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138569"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138570"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138571"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138572"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138573"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138574"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138575"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138576"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138577"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138578"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138579"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138580"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138581"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138582"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138583"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138584"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138585"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138586"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138587"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138588"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138589"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138590"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138591"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-33 bet ok" data-id="1138592"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138593"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-33 bet ok" data-id="1138594"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138595"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="1138596"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138597"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
						<div class="col col-50 bet ok" data-id="1138598"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
					</div>
				</div>
				
				<div class="row text-center"><div class="col title-no">两面</div></div>
					
				<div data-title="两面">
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138601"><span class="bet-content">大</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="1138602"><span class="bet-content">小</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row">
						<div class="col col-50 bet ok" data-id="1138603"><span class="bet-content">单</span> <span class="bet-item">1.965</span></div>
						<div class="col col-50 bet ok" data-id="1138604"><span class="bet-content">双</span> <span class="bet-item">1.965</span></div>
					</div>
					
					<div class="row end">
						<div class="col col-33 bet ok" data-id="1138701"><span class="bet-content">红波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="1138702"><span class="bet-content">蓝波</span> <span class="bet-item">1.965</span></div>
						<div class="col col-33 bet ok" data-id="1138703"><span class="bet-content">绿波</span> <span class="bet-item">1.965</span></div>
					</div>
				</div>
			</ion-content>
		</div>
	</div>
</ion-content>