<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">正码</div></div>
			
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139101"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139102"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139103"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139104"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139105"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139106"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139107"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139108"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139109"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139110"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139111"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139112"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139113"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139114"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139115"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139116"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139117"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139118"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139119"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139120"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139121"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139122"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139123"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139124"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139125"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139126"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139127"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139128"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139129"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139130"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139131"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139132"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139133"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139134"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139135"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139136"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139137"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139138"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139139"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139140"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139141"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139142"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1139143"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139144"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-33 bet ok" data-id="1139145"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1139146"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="1139147"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1139148"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item">48.6</div></div>
		<div class="col col-50 bet ok" data-id="1139149"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item">48.6</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">两面</div></div>
		
	<div data-title="两面">
		<div class="row">
			<div class="col col-50 bet ok" data-id="1138623"><span class="bet-content">总大</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="1138624"><span class="bet-content">总小</span> <span class="bet-item">1.965</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-50 bet ok" data-id="1138621"><span class="bet-content">总单</span> <span class="bet-item">1.965</span></div>
			<div class="col col-50 bet ok" data-id="1138622"><span class="bet-content">总双</span> <span class="bet-item">1.965</span></div>
		</div>
	</div>
</ion-content>