<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">正码一</div></div>
	
	<div data-title="正码一">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392052"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392053"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392050"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392051"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392056"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392057"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392054"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392055"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392061"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392062"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="11392058"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392059"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392060"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">正码二</div></div>
	
	<div data-title="正码二">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392114"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392115"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392112"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392113"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392118"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392119"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392116"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392117"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392123"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392124"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="11392120"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392121"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392122"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">正码三</div></div>
	
	<div data-title="正码三">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392176"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392177"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392174"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392175"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392180"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392181"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392178"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392179"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392185"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392186"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="11392182"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392183"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392184"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">正码四</div></div>
	
	<div data-title="正码四">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392238"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392239"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392236"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392237"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392242"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392243"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392240"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392241"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392247"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392248"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="11392244"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392245"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392246"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">正码五</div></div>
	
	<div data-title="正码五">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392300"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392301"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392298"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392299"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392304"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392305"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392302"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392303"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392309"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392310"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-33 bet ok" data-id="11392306"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392307"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392308"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
	
	<div class="row text-center"><div class="col title-no">正码六</div></div>
	
	<div data-title="正码六">
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392362"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392363"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392360"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392361"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392366"><span class="bet-content">合大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392367"><span class="bet-content">合小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392364"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392365"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row">
			<div class="col col-50 bet ok" data-id="11392371"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
			<div class="col col-50 bet ok" data-id="11392372"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
		</div>
		
		<div class="row end">
			<div class="col col-33 bet ok" data-id="11392368"><span class="bet-content">红波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392369"><span class="bet-content">蓝波</span> <span class="bet-item">1.982</span></div>
			<div class="col col-33 bet ok" data-id="11392370"><span class="bet-content">绿波</span> <span class="bet-item">1.982</span></div>
		</div>
	</div>
	
</ion-content>