
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球VS第二球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101906"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101907"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101908"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第一球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101909"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101910"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101911"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第一球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101912"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101913"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101914"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>


	<div class="row text-center"><div class="col title-no">第一球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101915"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101916"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101917"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101918"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101919"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101920"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101921"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101922"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101923"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101924"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101925"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101926"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101927"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101928"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101929"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101930"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101931"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101932"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第四球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="101933"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101934"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="101935"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>		
	
	
</ion-content>