
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">五球总和</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100101"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="100102"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100103"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100104"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100210"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100211"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="100212"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100213"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100310"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100311"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="100312"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100313"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>


	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100410"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100411"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="100412"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100413"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100510"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100511"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="100512"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100513"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="100610"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100611"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="100612"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="100613"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>