<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">总和、龙虎</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1172701"><span class="bet-content">总和大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1172705"><span class="bet-content">总和小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1172702"><span class="bet-content">总和单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1172706"><span class="bet-content">总和双</span> <span class="bet-item">1.75</span></div>
	</div>
	
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1172703"><span class="bet-content">总和尾大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1172707"><span class="bet-content">总和尾小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1172704"><span class="bet-content">龙</span> <span class="bet-item">1.877</span></div>
		<div class="col col-50 bet ok" data-id="1172708"><span class="bet-content">虎</span> <span class="bet-item">1.877</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173012"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173013"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173014"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173015"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173112"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173113"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173114"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173115"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173212"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173213"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173214"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173215"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1173412"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173413"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1173414"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1173415"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>
