
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">正</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103936"><span class="bet-content">1正</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="103937"><span class="bet-content">2正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103938"><span class="bet-content">3正</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103939"><span class="bet-content">4正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">角</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103940"><span class="bet-content">1-2角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103941"><span class="bet-content">2-3角</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="103942"><span class="bet-content">3-4角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103943"><span class="bet-content">1-4角</span> <span class="bet-item">1.982</span></div>
	</div>
	
		<div class="row text-center"><div class="col title-no">念</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="103944"><div class="bet-content">1念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103945"><div class="bet-content">1念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103946"><div class="bet-content">1念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="103947"><div class="bet-content">2念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103948"><div class="bet-content">2念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103949"><div class="bet-content">2念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="103950"><div class="bet-content">3念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103951"><div class="bet-content">3念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103952"><div class="bet-content">3念4</div><div class="bet-item">9.4</div></div>
	</div>
	
		<div class="row">
		<div class="col col-33 bet ok" data-id="103953"><div class="bet-content">4念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103954"><div class="bet-content">4念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="103955"><div class="bet-content">4念3</div><div class="bet-item">9.4</div></div>
	</div>



	<div class="row text-center"><div class="col title">番</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103956"><span class="bet-content">1番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103957"><span class="bet-content">2番</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="103958"><span class="bet-content">3番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103959"><span class="bet-content">4番</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">单双</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="103960"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="103961"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
</ion-content>