<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">正码</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102601"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102602"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102603"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102604"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102605"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102606"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102607"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102608"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102609"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102610"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102611"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102612"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102613"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102614"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102615"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102616"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102617"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102618"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102619"><div class="bet-content round-1">19</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102620"><div class="bet-content round-1">20</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102621"><div class="bet-content round-1">21</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102622"><div class="bet-content round-1">22</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102623"><div class="bet-content round-1">23</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102624"><div class="bet-content round-1">24</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102625"><div class="bet-content round-1">25</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102626"><div class="bet-content round-1">26</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102627"><div class="bet-content round-1">27</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102628"><div class="bet-content round-1">28</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102629"><div class="bet-content round-1">29</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102630"><div class="bet-content round-1">30</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102631"><div class="bet-content round-1">31</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102632"><div class="bet-content round-1">32</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102633"><div class="bet-content round-1">33</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102634"><div class="bet-content round-1">34</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102635"><div class="bet-content round-1">35</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102636"><div class="bet-content round-1">36</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102637"><div class="bet-content round-1">37</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102638"><div class="bet-content round-1">38</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102639"><div class="bet-content round-1">39</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102640"><div class="bet-content round-1">40</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102641"><div class="bet-content round-1">41</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102642"><div class="bet-content round-1">42</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102643"><div class="bet-content round-1">43</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102644"><div class="bet-content round-1">44</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102645"><div class="bet-content round-1">45</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102646"><div class="bet-content round-1">46</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102647"><div class="bet-content round-1">47</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102648"><div class="bet-content round-1">48</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102649"><div class="bet-content round-1">49</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102650"><div class="bet-content round-1">50</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102651"><div class="bet-content round-1">51</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102652"><div class="bet-content round-1">52</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102653"><div class="bet-content round-1">53</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102654"><div class="bet-content round-1">54</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102655"><div class="bet-content round-1">55</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102656"><div class="bet-content round-1">56</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102657"><div class="bet-content round-1">57</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">

		<div class="col col-33 bet ok" data-id="1102658"><div class="bet-content round-1">58</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102659"><div class="bet-content round-1">59</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102660"><div class="bet-content round-1">60</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102661"><div class="bet-content round-1">61</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102662"><div class="bet-content round-1">62</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102663"><div class="bet-content round-1">63</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102664"><div class="bet-content round-1">64</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102665"><div class="bet-content round-1">65</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102666"><div class="bet-content round-1">66</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102667"><div class="bet-content round-1">67</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102668"><div class="bet-content round-1">68</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102669"><div class="bet-content round-1">69</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102670"><div class="bet-content round-1">70</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102671"><div class="bet-content round-1">71</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102672"><div class="bet-content round-1">72</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102673"><div class="bet-content round-1">73</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102674"><div class="bet-content round-1">74</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102675"><div class="bet-content round-1">75</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1102676"><div class="bet-content round-1">76</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102677"><div class="bet-content round-1">77</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1102678"><div class="bet-content round-1">78</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1102679"><span class="bet-content round-1">79</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="1102680"><span class="bet-content round-1">80</span> <span class="bet-item">19.8</span></div>
	</div>
		
</ion-content>