
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">德州扑克</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="119994"><span class="bet-content">豹子</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="119996"><span class="bet-content">葫芦</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="119997"><span class="bet-content">顺子</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119999"><span class="bet-content">三张</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="119995"><span class="bet-content">四张</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="119998"><span class="bet-content">五离</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1191001"><span class="bet-content">一对</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="1191000"><span class="bet-content">两对</span> <span class="bet-item">1.982</span></div>
		<div class="col col-33 bet ok" data-id="1191002"><span class="bet-content">杂牌</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row text-center"><div class="col title-no"></div></div>
</ion-content>