
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球VS第二球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119906"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119907"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119908"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第一球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119909"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119910"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119911"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第一球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119912"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119913"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119914"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>


	<div class="row text-center"><div class="col title-no">第一球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119915"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119916"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119917"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119918"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119919"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119920"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119921"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119922"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119923"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119924"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119925"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119926"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119927"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119928"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119929"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119930"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119931"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119932"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第四球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="119933"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119934"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="119935"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>		
	
	
</ion-content>