
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">五球总和</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322101"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="322102"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322103"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322104"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322210"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322211"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="322212"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322213"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322310"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322311"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="322312"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322313"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>


	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322410"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322411"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="322412"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322413"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322510"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322511"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="322512"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322513"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="322610"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322611"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row end">
		<div class="col col-50 bet ok" data-id="322612"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="322613"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
</ion-content>