
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球VS第二球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322906"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322907"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322908"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第一球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322909"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322910"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322911"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第一球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322912"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322913"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322914"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>


	<div class="row text-center"><div class="col title-no">第一球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322915"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322916"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322917"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322918"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322919"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322920"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322921"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322922"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322923"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322924"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322925"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322926"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322927"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322928"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322929"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322930"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322931"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322932"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第四球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="322933"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322934"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="322935"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>		
	
	
</ion-content>