<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">第三球</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076601"><div class="bet-content round-1">1</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076602"><div class="bet-content round-1">2</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076603"><div class="bet-content round-1">3</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076604"><div class="bet-content round-1">4</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076605"><div class="bet-content round-1">5</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076606"><div class="bet-content round-1">6</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076607"><div class="bet-content round-1">7</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076608"><div class="bet-content round-1">8</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076609"><div class="bet-content round-1">9</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076610"><div class="bet-content round-1">10</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076611"><div class="bet-content round-1">11</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076612"><div class="bet-content round-1">12</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076613"><div class="bet-content round-1">13</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076614"><div class="bet-content round-1">14</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076615"><div class="bet-content round-1">15</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="1076616"><div class="bet-content round-1">16</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076617"><div class="bet-content round-1">17</div><div class="bet-item">19.8</div></div>
		<div class="col col-33 bet ok" data-id="1076618"><div class="bet-content round-1">18</div><div class="bet-item">19.8</div></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076619"><span class="bet-content round-1">19</span> <span class="bet-item">19.8</span></div>
		<div class="col col-50 bet ok" data-id="1076620"><span class="bet-content round-1">20</span> <span class="bet-item">19.8</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076621"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076622"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076623"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076624"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076627"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076628"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076625"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076626"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>

	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076636"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076637"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076629"><span class="bet-content">东</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="1076630"><span class="bet-content">南</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076631"><span class="bet-content">西</span> <span class="bet-item">3.9</span></div>
		<div class="col col-50 bet ok" data-id="1076632"><span class="bet-content">北</span> <span class="bet-item">3.9</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="1076633"><div class="bet-content">中</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="1076634"><div class="bet-content">发</div><div class="bet-item">2.8</div></div>
		<div class="col col-33 bet ok" data-id="1076635"><div class="bet-content">白</div><div class="bet-item">3</div></div>
	</div>
</ion-content>