<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">总和</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076301"><span class="bet-content">总和大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076302"><span class="bet-content">总和小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076303"><span class="bet-content">总和单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076304"><span class="bet-content">总和双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076305"><span class="bet-content">总尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076306"><span class="bet-content">总尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076421"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076422"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076423"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076424"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076427"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076428"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076425"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076426"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076436"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076437"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076521"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076522"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076523"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076524"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076527"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076528"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076525"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076526"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076536"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076537"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076621"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076622"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076623"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076624"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076627"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076628"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076625"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076626"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076636"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076637"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076721"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076722"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076723"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076724"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076727"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076728"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076725"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076726"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076736"><span class="bet-content">龙</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076737"><span class="bet-content">虎</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076821"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076822"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076823"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076824"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076827"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076828"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076825"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076826"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第六球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076921"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076922"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076923"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076924"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076927"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076928"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1076925"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1076926"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第七球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077021"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077022"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077023"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077024"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077027"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077028"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077025"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077026"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">第八球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077121"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077122"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077123"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077124"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1077127"><span class="bet-content">合单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077128"><span class="bet-content">合双</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1077125"><span class="bet-content">尾大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="1077126"><span class="bet-content">尾小</span> <span class="bet-item">1.982</span></div>
	</div>

</ion-content>