<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">总和、龙虎</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1182701"><span class="bet-content">总和大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1182705"><span class="bet-content">总和小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1182702"><span class="bet-content">总和单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1182706"><span class="bet-content">总和双</span> <span class="bet-item">1.75</span></div>
	</div>
	
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1182703"><span class="bet-content">总和尾大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1182707"><span class="bet-content">总和尾小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1182704"><span class="bet-content">龙</span> <span class="bet-item">1.877</span></div>
		<div class="col col-50 bet ok" data-id="1182708"><span class="bet-content">虎</span> <span class="bet-item">1.877</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">第一球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183012"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183013"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183014"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183015"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第二球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183112"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183113"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183114"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183115"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第三球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183212"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183213"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183214"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183215"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第四球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183312"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183313"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183314"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183315"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>

	<div class="row text-center"><div class="col title">第五球</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1183412"><span class="bet-content">大</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183413"><span class="bet-content">小</span> <span class="bet-item">1.75</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1183414"><span class="bet-content">单</span> <span class="bet-item">1.75</span></div>
		<div class="col col-50 bet ok" data-id="1183415"><span class="bet-content">双</span> <span class="bet-item">1.75</span></div>
	</div>
</ion-content>
