<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">混合</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="11211201"><span class="bet-content">大</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="11211202"><span class="bet-content">小</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="11211203"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="11211204"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="11211205"><span class="bet-content">大单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="11211206"><span class="bet-content">大双</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="11211207"><span class="bet-content">小单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="11211208"><span class="bet-content">小双</span> <span class="bet-item">1.982</span></div>
	</div>	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211209"><div class="bet-content">极大</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="11211210"><div class="bet-content">极小</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="11211211"><div class="bet-content">豹子</div><div class="bet-item">1.982</div></div>
	</div>
	
	<div class="row end">
		<div class="col col-33 bet ok" data-id="11211301"><div class="bet-content">红波</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="11211302"><div class="bet-content">绿波</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="11211303"><div class="bet-content">蓝波</div><div class="bet-item">1.982</div></div>
	</div>
</ion-content>