<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">特码</div></div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211400"><span class="bet-content round-1">0</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211401"><span class="bet-content round-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211402"><span class="bet-content round-1">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211403"><span class="bet-content round-1">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211404"><span class="bet-content round-1">4</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211405"><span class="bet-content round-1">5</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211406"><span class="bet-content round-1">6</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211407"><span class="bet-content round-1">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211408"><span class="bet-content round-1">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211409"><span class="bet-content round-1">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211410"><span class="bet-content round-1">10</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211411"><span class="bet-content round-1">11</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211412"><span class="bet-content round-1">12</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211413"><span class="bet-content round-1">13</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211414"><span class="bet-content round-1">14</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211415"><span class="bet-content round-1">15</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211416"><span class="bet-content round-1">16</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211417"><span class="bet-content round-1">17</span> <span class="bet-item">9.85</span></div>
	</div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211418"><span class="bet-content round-1">18</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211419"><span class="bet-content round-1">19</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211420"><span class="bet-content round-1">20</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="11211421"><span class="bet-content round-1">21</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211422"><span class="bet-content round-1">22</span> <span class="bet-item">9.85</span></div>
		<div class="col col-33 bet ok" data-id="11211423"><span class="bet-content round-1">23</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="11211424"><span class="bet-content round-1">24</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="11211425"><span class="bet-content round-1">25</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="11211426"><span class="bet-content round-1">26</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="11211427"><span class="bet-content round-1">27</span> <span class="bet-item">9.85</span></div>
	</div>
	
</ion-content>