
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">第一球VS第二球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1906"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1907"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1908"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第一球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1909"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1910"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1911"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第一球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1912"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1913"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1914"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>


	<div class="row text-center"><div class="col title-no">第一球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1915"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1916"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1917"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第三球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1918"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1919"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1920"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>

	<div class="row text-center"><div class="col title-no">第二球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1921"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1922"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1923"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row text-center"><div class="col title-no">第二球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1924"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1925"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1926"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第四球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1927"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1928"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1929"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第三球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1930"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1931"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1932"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>	
	
	<div class="row text-center"><div class="col title-no">第四球VS第五球</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="1933"><div class="bet-content">龙</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1934"><div class="bet-content">虎</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="1935"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
	</div>		
	
	
</ion-content>