<ion-content class="bet-view">
	
	<div class="row text-center"><div class="col title-no">亚军</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501207"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501208"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501209"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501210"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501211"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501212"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501213"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501214"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501215"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501216"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	
</ion-content>