<ion-content class="bet-view">
	
	
	<div class="row text-center"><div class="col title-no">第四名</div></div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="501407"><span class="bet-content round-7 data-1">1</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501408"><span class="bet-content round-7 data-2">2</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501409"><span class="bet-content round-7 data-3">3</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501410"><span class="bet-content round-7 data-4">4</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501411"><span class="bet-content round-7 data-5">5</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501412"><span class="bet-content round-7 data-6">6</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501413"><span class="bet-content round-7 data-7">7</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501414"><span class="bet-content round-7 data-8">8</span> <span class="bet-item">9.85</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="501415"><span class="bet-content round-7 data-9">9</span> <span class="bet-item">9.85</span></div>
		<div class="col col-50 bet ok" data-id="501416"><span class="bet-content round-7 data-10">10</span> <span class="bet-item">9.85</span></div>
	</div>
	
	
</ion-content>