<ion-content class="bet-view">
	<div class="row text-center"><div class="col title-no">长牌</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155912">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-2">2</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
		<div class="col col-50 bet ok" data-id="1155913">
			<span class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-3">3</span>
			</span>
		 	<span class="bet-item">1.982</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155914">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155915">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155916">
			<div class="bet-content">
				<span class="round-10 data-1">1</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155923">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-3">3</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155924">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155925">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155926">
			<div class="bet-content">
				<span class="round-10 data-2">2</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155934">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-4">4</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155935">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155936">
			<div class="bet-content">
				<span class="round-10 data-3">3</span>
				<span class="round-10 data-6">6</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="1155945">
			<div class="bet-content">
				<span class="round-10 data-4">4</span>
				<span class="round-10 data-5">5</span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 bet ok" data-id="1155946">
			<div class="bet-content">
				<span class="round-10 data-4"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
	</div>
	
	<div class="row end">
		<div class="col col-50 bet ok" data-id="1155956">
			<div class="bet-content">
				<span class="round-10 data-5"></span>
				<span class="round-10 data-6"></span>
			</div>
		 	<div class="bet-item">1.982</div>
		</div>
		<div class="col col-50 ok"></div>
	</div>
</ion-content>