
<ion-content class="bet-view">	
	<div class="row text-center"><div class="col title-no">正</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="422936"><span class="bet-content">1正</span> <span class="bet-item">1.982</span></div>
		
		<div class="col col-50 bet ok" data-id="422937"><span class="bet-content">2正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="422938"><span class="bet-content">3正</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422939"><span class="bet-content">4正</span> <span class="bet-item">1.982</span></div>
	</div>
	
	<div class="row text-center"><div class="col title">角</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="422940"><span class="bet-content">1-2角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422941"><span class="bet-content">2-3角</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="422942"><span class="bet-content">3-4角</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422943"><span class="bet-content">1-4角</span> <span class="bet-item">1.982</span></div>
	</div>
	
		<div class="row text-center"><div class="col title-no">念</div></div>
	<div class="row">
		<div class="col col-33 bet ok" data-id="422944"><div class="bet-content">1念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422945"><div class="bet-content">1念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422946"><div class="bet-content">1念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="422947"><div class="bet-content">2念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422948"><div class="bet-content">2念3</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422949"><div class="bet-content">2念4</div><div class="bet-item">9.4</div></div>
	</div>
	
	<div class="row">
		<div class="col col-33 bet ok" data-id="422950"><div class="bet-content">3念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422951"><div class="bet-content">3念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422952"><div class="bet-content">3念4</div><div class="bet-item">9.4</div></div>
	</div>
	
		<div class="row">
		<div class="col col-33 bet ok" data-id="422953"><div class="bet-content">4念1</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422954"><div class="bet-content">4念2</div><div class="bet-item">1.982</div></div>
		<div class="col col-33 bet ok" data-id="422955"><div class="bet-content">4念3</div><div class="bet-item">9.4</div></div>
	</div>



	<div class="row text-center"><div class="col title">番</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="422956"><span class="bet-content">1番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422957"><span class="bet-content">2番</span> <span class="bet-item">1.982</span></div>
	</div>
	<div class="row">
		<div class="col col-50 bet ok" data-id="422958"><span class="bet-content">3番</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422959"><span class="bet-content">4番</span> <span class="bet-item">1.982</span></div>
	</div>

	<div class="row text-center"><div class="col title">单双</div></div>
	
	<div class="row">
		<div class="col col-50 bet ok" data-id="422960"><span class="bet-content">单</span> <span class="bet-item">1.982</span></div>
		<div class="col col-50 bet ok" data-id="422961"><span class="bet-content">双</span> <span class="bet-item">1.982</span></div>
	</div>
	
</ion-content>